<!-- Modal Login -->
<ng-template #loginModal let-modal>
  <app-login></app-login>
</ng-template>

<div class="top-line"></div>
<header class="header-gradient text-white glass shadow-md p-4 flex items-center justify-between transition-soft">
  <div class="wrapper">
    <div id="logo" class="main-logo my-4">
      <a routerLink="/inicio" routerLinkActive="active" title="Solar Screen">
        <img src="/images/Solar_Screen.png" alt="Solar Screen">
      </a>
    </div>
    <div class="main-header-top-nav">
      <div class="main-header-top-nav-inner">
        <ul class="user-nav my-3">
          <li><a routerLink="/contacto" routerLinkActive="active" title="Contacto">
            <fa-icon [icon]="faPhone" class="icon-hover-effect"></fa-icon>
            <span class="fw-bold">Contacto</span>
          </a></li>
          <li><a routerLink="/about" routerLinkActive="active">
            <fa-icon [icon]="faAddressCard" class="icon-hover-effect"></fa-icon>
            <span class="fw-bold">About</span>
          </a></li>

          <!-- Login / Logout dinámico -->
          <li class="login-container position-relative">
            <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
              <a class="d-flex align-items-center" (click)="abrirModalLogin()">
                <fa-icon [icon]="faUser" class="icon-hover-effect"></fa-icon>
                <span class="fw-bold">Login</span>
                <i class="bi bi-cart icon-hover-effect"></i>
              </a>
            </ng-container>

            <ng-template #loggedInBlock>
              <a (click)="logout()" class="d-flex align-items-center" style="cursor: pointer;">
                <fa-icon [icon]="faUser" class="icon-hover-effect"></fa-icon>
                   <span class="fw-bold" *ngIf="!isLoggingOut">
                     Logout ({{ userName }} - {{ userRole }})
                   </span>
                   <div *ngIf="isLoggingOut" class="spinner-border spinner-border-sm text-warning ms-2" role="status">
                  <span class="visually-hidden">Cerrando sesión...</span>
                </div>
              </a>
            </ng-template>
          </li>

          <!-- redirige al backend-->
          <li>
            <a *ngIf="authService.getUserRole() === 'admin'" (click)="goToBackend()" style="cursor: pointer;">
              <fa-icon [icon]="faScrewdriverWrench" class="icon-hover-effect"></fa-icon>
              <span class="fw-bold">Panel de Administración</span>
            </a>
          </li>
        </ul>

<div>
  <ul>
    <div class="cart-widget">
      <a class="nav-link position-relative d-flex align-items-center" routerLink="/cart" routerLinkActive="active">
        <div class="position-relative me-2">
          <fa-icon [icon]="faCartShopping" class="fs-5 icon-hover-effect"></fa-icon>
          <span class="cantidadCart position-absolute top-0 start-100 translate-middle badge rounded-pill bg-orange">
                    {{ cantidadCarrito | number : '1.0-2' }}
              </span>
        </div>
        <span class="totalCart text-nowrap ms-2 fw-bold">
                   {{ precioCarrito | number:'1.2-2' }} €
            </span>
      </a>
    </div>
  </ul>

</div>

      </div>
    </div>
  </div>

  <div class="navigation-container">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#solarNavbar" aria-controls="solarNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="solarNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/condiciones" routerLinkActive="active">
                <fa-icon [icon]="faSun" class="me-2 icon-hover-effect"></fa-icon>
                <span class="enlaces">ENERGÍA SOLAR</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/simulaciones/list" routerLinkActive="active">
                <fa-icon [icon]="faSolarPanel" class="me-2 icon-hover-effect"></fa-icon>
                <span class="enlaces">SIMULADOR DE CARGA</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/clima" routerLinkActive="active">
                <fa-icon [icon]="faCloudSunRain" class="me-2 icon-hover-effect"></fa-icon>
                <span class="enlaces">CLIMA ACTUAL</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/funda-list" routerLinkActive="active">
                <fa-icon [icon]="faMobile" class="me-2 icon-hover-effect"></fa-icon>
                <span class="enlaces">MODELOS DE FUNDAS</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="/idea-list" routerLinkActive="active">
                <fa-icon [icon]="faLightbulb" class="me-2 icon-hover-effect"></fa-icon>
                <span class="enlaces">BLOG IDEAS</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Barra de búsqueda -->
    <form class="search-form d-flex" role="search" action="/buscar">
      <input class="form-control me-2 border-warning" type="search" placeholder="Buscar..." aria-label="Buscar">
      <button class="search btn btn-outline-warning" type="submit">Buscar</button>
    </form>
  </div>

</header>
<!-- Toast-->
@if(toastShow){
  <div class="toast show {{ toast.color }} position-fixed top-0 end-0 m-3" style="z-index: 1200;">
    <div class="toast-body">
      {{ toast.body }}
    </div>
  </div>
}
<!--Fin toast-->



