<div class="container">
  <footer class="footer-glass text-white rounded-xl p-4 mt-5">
    <ul class="nav justify-content-center border-bottom border-light pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 icon-hover-effect">Inicio</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-3 icon-hover-effect">About</a></li>
      <li class="nav-item"><a routerLink="/contacto" class="nav-link px-3 icon-hover-effect">Contacto</a></li>
      <li class="nav-item"><a routerLink="/funda-list" class="nav-link px-3 icon-hover-effect">Fundas</a></li>
      <li class="nav-item"><a routerLink="/clima" class="nav-link px-3 icon-hover-effect">Clima hoy</a></li>
      <li class="nav-item"><a routerLink="/condiciones" class="nav-link px-3 icon-hover-effect">Condiciones</a></li>
      <li class="nav-item"><a routerLink="/idea-list" class="nav-link px-3 icon-hover-effect">Ideas</a></li>
      <li class="nav-item"><a routerLink="/simulaciones/create" class="nav-link px-3 icon-hover-effect">Simulador</a></li>
      <li class="nav-item"><a routerLink="/simulaciones/list" class="nav-link px-3 icon-hover-effect">Mis Simulaciones</a></li>
      <li class="nav-item"><a routerLink="/cart" class="nav-link px-3 icon-hover-effect">Carrito</a></li>
    </ul>
    <p class="text-center fw-light mb-0">
      (Luigi Porrega) - Hecho con 💡 y 🍊 en Valencia &nbsp;|&nbsp; &copy; 2025 <span class="fw-bold">Solar Screen</span>
    </p>
  </footer>
</div>
