<!-- Modal -->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
    </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control"
               formControlName="username" id="username" placeholder="Username">
        <label for="username">Username</label>
      </div>

      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']" class="alert alert-danger">
          El campo Usuario es obligatorio
        </div>
        <div *ngIf="username.errors?.['notOnlyWhiteSpace']" class="alert alert-danger">
          No puede ser solo espacios en blanco
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control"
               formControlName="password" id="password" placeholder="Contraseña">
        <label for="password">Contraseña</label>
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']" class="alert alert-danger">
          El campo Contraseña es obligatorio
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-warning" (click)="redirigirARegistro()">Registrarse</button>
        <button type="submit" class="btn btn-warning text-white fw-bold">Iniciar</button>
      </div>
    </form>
  </div>

    <!-- Toast-->
@if(toastShow){
  <div class="toast show {{ toast.color }} position-fixed top-0 end-0 m-3" style="z-index: 1200;">
    <div class="toast-body">
      {{ toast.body }}
    </div>
  </div>
}
<!--Fin toast-->
