<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "http://65.108.85.99:4200/"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>

# Manejo explícito de solicitudes OPTIONS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [L]

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
  
	RewriteCond %{REQUEST_URI} ^system.*
	RewriteRule ^(.*)$ /index.php/$1 [L]
  
	RewriteCond %{REQUEST_URI} ^application.*
	RewriteRule ^(.*)$ /index.php/$1 [L]
  
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
  </IfModule>
  
  <IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
  </IfModule>
  
  # Disable server signature start
  ServerSignature Off
  # Disable server signature end
  