# Denegar el acceso por defecto
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

# Permitir CORS desde http://65.108.85.99:4200
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://65.108.85.99:4200"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>

<Directory /var/www/html/public>
    AllowOverride All
    Require all granted
</Directory>